In [7]:
import pandas as pd
import numpy as np

In [10]:
f1=pd.read_csv("https://api.covid19india.org/csv/latest/raw_data1.csv")
f2=pd.read_csv("https://api.covid19india.org/csv/latest/raw_data2.csv")
f3=pd.read_csv("https://api.covid19india.org/csv/latest/raw_data3.csv")
f4=pd.read_csv("https://api.covid19india.org/csv/latest/raw_data4.csv")
f5=pd.read_csv("https://api.covid19india.org/csv/latest/raw_data5.csv")
f6=pd.read_csv("https://api.covid19india.org/csv/latest/raw_data6.csv")
f7=pd.read_csv("https://api.covid19india.org/csv/latest/raw_data7.csv")
f8=pd.read_csv("https://api.covid19india.org/csv/latest/raw_data8.csv")
f9=pd.read_csv("https://api.covid19india.org/csv/latest/raw_data9.csv")
f10=pd.read_csv("https://api.covid19india.org/csv/latest/raw_data10.csv")
f11=pd.read_csv("https://api.covid19india.org/csv/latest/raw_data11.csv")
f12=pd.read_csv("https://api.covid19india.org/csv/latest/raw_data12.csv")
f13=pd.read_csv("https://api.covid19india.org/csv/latest/raw_data13.csv")
f14=pd.read_csv("https://api.covid19india.org/csv/latest/raw_data14.csv")
f15=pd.read_csv("https://api.covid19india.org/csv/latest/raw_data15.csv")
f16=pd.read_csv("https://api.covid19india.org/csv/latest/raw_data16.csv")

In [11]:
f1.columns

Index(['Patient Number', 'State Patient Number', 'Date Announced',
       'Estimated Onset Date', 'Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State', 'State code', 'Current Status',
       'Notes', 'Contracted from which Patient (Suspected)', 'Nationality',
       'Type of transmission', 'Status Change Date', 'Source_1', 'Source_2',
       'Source_3', 'Backup Notes', 'Num Cases'],
      dtype='object')

In [12]:
f2.columns

Index(['Patient Number', 'State Patient Number', 'Date Announced',
       'Estimated Onset Date', 'Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State', 'State code', 'Current Status',
       'Notes', 'Contracted from which Patient (Suspected)', 'Nationality',
       'Type of transmission', 'Status Change Date', 'Source_1', 'Source_2',
       'Source_3', 'Backup Notes', 'Num Cases'],
      dtype='object')

In [13]:
f1=f1.loc[:,['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State' , 'Current Status']]
f2=f2.loc[:,['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State' , 'Current Status']]
f3=f3.loc[:,['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State' , 'Current Status']]
f4=f4.loc[:,['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State' , 'Current Status']]
f5=f5.loc[:,['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State' , 'Current Status']]
f6=f6.loc[:,['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State' , 'Current Status']]
f7=f7.loc[:,['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State' , 'Current Status']]
f8=f8.loc[:,['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State' , 'Current Status']]
f9=f9.loc[:,['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State' , 'Current Status']]
f10=f10.loc[:,['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State' , 'Current Status']]
f11=f11.loc[:,['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State' , 'Current Status']]
f12=f12.loc[:,['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State' , 'Current Status']]
f13=f13.loc[:,['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State' , 'Current Status']]
f14=f14.loc[:,['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State' , 'Current Status']]
f15=f15.loc[:,['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State' , 'Current Status']]
f16=f16.loc[:,['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State' , 'Current Status']]

In [15]:
f=f1.append([f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13,f14,f15,f16])
f

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status
0,1.0,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered
1,1.0,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered
2,1.0,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered
3,1.0,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered
4,1.0,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered
...,...,...,...,...,...,...,...,...
26619,9.0,08/10/2020,NaN,NaN,NaN,Kargil,Ladakh,Hospitalized
26620,29.0,08/10/2020,NaN,NaN,NaN,Leh,Ladakh,Recovered
26621,10.0,08/10/2020,NaN,NaN,NaN,Kargil,Ladakh,Recovered
26622,-8.0,08/10/2020,NaN,NaN,NaN,Solan,Himachal Pradesh,Migrated_Other
26623,8.0,08/10/2020,NaN,NaN,NaN,Solan,Himachal Pradesh,Recovered

In [16]:
date=f['Date Announced'].str.split('/',expand=True)
date.columns=['day','month','year']
date

      day month  year
0      30    01  2020
1      02    02  2020
2      03    02  2020
3      02    03  2020
4      02    03  2020
...    ..   ...   ...
26619  08    10  2020
26620  08    10  2020
26621  08    10  2020
26622  08    10  2020
26623  08    10  2020

[353032 rows x 3 columns]

In [17]:
f=pd.concat([f,date],axis=1)
f

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status,day,month,year
0,1.0,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered,30,01,2020
1,1.0,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered,02,02,2020
2,1.0,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered,03,02,2020
3,1.0,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered,02,03,2020
4,1.0,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered,02,03,2020
...,...,...,...,...,...,...,...,...,...,...,...
26619,9.0,08/10/2020,NaN,NaN,NaN,Kargil,Ladakh,Hospitalized,08,10,2020
26620,29.0,08/10/2020,NaN,NaN,NaN,Leh,Ladakh,Recovered,08,10,2020
26621,10.0,08/10/2020,NaN,NaN,NaN,Kargil,Ladakh,Recovered,08,10,2020
26622,-8.0,08/10/2020,NaN,NaN,NaN,Solan,Himachal Pradesh,Migrated_Other,08,10,2020
26623,8.0,08/10/2020,NaN,NaN,NaN,Solan,Himachal Pradesh,Recovered,08,10,2020

In [18]:
f.to_csv("covid19data.csv")